body {
    margin: 0px;
    background: linear-gradient(#03045e, #0077b6, #00b4d8);
    font-family: Arial, Helvetica, sans-serif;
}

/* Structure for navagation bar */
header nav {
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right: 110px;
    margin-top: 20px;
}

header #nav-container nav ul {
    list-style: none;
    text-decoration: none;
}

header #nav-container nav ul li {
    display: inline-block;
}

header #nav-container nav ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    color: #caf0f8;
    text-align: center;
    font-style: italic;
}

header #nav-container nav ul a:hover {
    color: #8980f5;
}

/* Structure and Styling for "C" logo */
header #nav-container nav div img {
    display: inline-block;
    width: 105px;
    height: 90px;
    border: 2.5px solid #03045e;
    border-radius: 100%;
    justify-content: left;
    margin-right: 1300px;
    margin-top: 20px;

}
/* 
Structure for main heading */
.header2 #name-container {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 500px;   

}

.header2 #name-container span {
    font-size: 20px;
    color:#72EFDD;
    font-style: italic;
}

.header2 #name-container h1 {
    font-size: 80px;
    color:#caf0f8;
}

.header2 #name-container p {
    color:#caf0f8; 
    font-size: 20px;
    margin-right: 300px;
    opacity: 50%;
}

/* Unison Structure/Styling for all sections of main content */
main section {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 300px;    
}

main section h2 {
    color:#03045e;
    font-size: 30px;
}

main section p {
    color: #03045e;
    font-size: 20px;
    margin-right: 150px;

}

main section img {
    width:300px;
    height: 300px;
    border: 5px solid #03045e;
}

/* Styling for anchor tags inside the About section */
main .About a {
    text-decoration:none;
    color: #14ddac;
}

main .About img {
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

/* Structure/Styling for the Experience section  */
main .Experience {
    text-align: left;
}

main .Experience img {
    border-radius: 100%;
}

main .Experience div ol {
    list-style: none;
    text-decoration: none;
}

main .Experience div ol li {
    display: inline-block;
    padding: 10px;
    color: #03045e;
    font-size: 20px;
}

main .Experience a {
    text-decoration:none;
    color: #14ddac;
    font-size: 20px;
    
}

main section p a {
    text-decoration:none;
    color: #6930C3;
}

/* Projects Section Styling and Structure */

main .projects img {
    width: 450px;
    height: 350px;
}

/* Contact Section Structure and Styling */
main .contact img {
    border-radius: 100%;
    width:125px;
    height: 125px;
}

section div nav {
    margin-top: 50px;
}

section div nav ul {
    list-style: none;
    text-decoration: none;
    text-align: center;
    
}

section div nav ul li {
    display: inline-block;
}

section div nav ul li a {
    text-decoration: none;
    padding: 50px;
    color:  #7400b8;
    font-size: 20px;

}

section div nav ul li a:hover {
    color: #caf0f8;

}

/* Footer Structure and Styling */
footer {
    margin-top: 100px;
    text-align: center;
    font-size: 10px;
    color: #03045e;
}