body {
    margin: 0px;
    background: linear-gradient(#03045e, #0077b6, #00b4d8);
    font-family: Arial, Helvetica, sans-serif;
}

/* Structure for navagation bar */
header nav {
    display: flex;
    flex-direction: row;
    justify-content:right;
    margin-right: 110px;
    margin-top: 20px;
}

header #nav-container nav ul {
    list-style: none;
    text-decoration: none;
}

header #nav-container nav ul li {
    display: inline-block;
}

header #nav-container nav ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    color: #caf0f8;
    text-align: center;
    font-style: italic;
}

header #nav-container nav ul a:hover {
    color: #72EFDD;

}

/* Structure and Styling for "C" logo */
header #nav-container nav div img {
    display: inline-block;
    width: 105px;
    height: 90px;
    border: 2.5px solid #03045e;
    border-radius: 100%;
    justify-content: left;
    margin-right: 1300px;
    margin-top: 20px;

}
/* 
Structure for main heading */
.header2 #name-container {
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 500px;   

}

.header2 #name-container span {
    font-size: 20px;
    color:#72EFDD;
    font-style: italic;
}

.header2 #name-container h1 {
    font-size: 80px;
    color:#caf0f8;
}

.header2 #name-container p {
    color:#caf0f8; 
    font-size: 20px;
    margin-right: 300px;
    opacity: 50%;
}

/* Unison Structure/Styling for all sections of main content */
main section {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 300px;    
}

main section h2 {
    color:#03045e;
    font-size: 30px;
}

main section p {
    color: #03045e;
    font-size: 20px;
    margin-right: 150px;

}

main section img {
    width:300px;
    height: 300px;
    border: 5px solid #03045e;
}

/* Styling for anchor tags inside the About section */
main .About a {
    text-decoration:none;
    color: #14ddac;
}

main .About a:hover {
    text-decoration: underline;
}

main .About img {
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

/* Structure/Styling for the Experience section  */
main .Experience {
    text-align: left;
}

main .Experience img {
    border-radius: 100%;
}

main .Experience div ol {
    list-style: none;
    text-decoration: none;
}

main .Experience div ol li {
    display: inline-block;
    padding: 10px;
    color: #03045e;
    font-size: 20px;
}

main .Experience a {
    text-decoration:none;
    color: #14ddac;
    font-size: 20px;

}

main .Experience a:hover {
    text-decoration: underline;
}

#light-text {
    color:#caf0f8;
}

/* Projects Section Styling and Structure */

main section p a {
    text-decoration:none;
    color: #7400b8;
}

main section p a:hover {
    text-decoration: underline;
}

main .projects img {
    width: 450px;
    height: 350px;
}

/* Contact Section Structure and Styling */
main .contact img {
    border-radius: 100%;
    width:125px;
    height: 125px;
}

section div nav {
    margin-top: 50px;
}

section div nav ul {
    list-style: none;
    text-decoration: none;
    text-align: center;
    
}

section div nav ul li {
    display: inline-block;
}

section div nav ul li a {
    text-decoration: none;
    padding: 50px;
    color:  #7400b8;
    font-size: 20px;
    font-style: italic;

}

section div nav ul li a:hover {
    color: #caf0f8;

}

/* Footer Structure and Styling */
footer {
    margin-top: 100px;
    text-align: center;
    font-size: 10px;
    color: #03045e;
}

/* ALL MEDIA QUERIES BELOW */

/* Laptop */
@media screen and (max-width:1368px) {
    header nav {
    margin-right: 150px;
    margin-top: 50px;
    }

    header #nav-container nav ul li a {
        text-decoration: none;
        font-size: 25px;
        padding: 10px;
        color: #caf0f8;
        text-align: left;
        font-style: italic;
    }    

    header #nav-container nav div img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 2.5px solid #03045e;
        border-radius: 100%;
        justify-content: left;
        margin-right: 580px;
        margin-top: 0px;
    }

    .header2 #name-container {
        margin-top: 175px;
        margin-left: 175px;
        margin-right: 125px;   
    
    }

    .header2 #name-container span {
        font-size: 25px;
        color:#72EFDD;
        font-style: italic;
    }

    .header2 #name-container h1 {
        font-size: 80px;
        color:#caf0f8;
    }
    
    .header2 #name-container p {
        color:#caf0f8; 
        font-size: 25px;
        margin-right: 150px;
        opacity: 50%;
    }

    /* unison styling start */

    main section {
        margin-top: 175px;
        margin-left: 175px;
        margin-right: 125px;   
    }
    
    main section h2 {
        color:#03045e;
        font-size: 35px;
    }
    
    main section p {
        color: #03045e;
        font-size: 25px;
        margin-right: 100px;
    
    }
    
    main section img {
        width:300px;
        height: 300px;
        border: 5px solid #03045e;
    }

    /* unison styling end */

    main .About img {
        border-radius: 100%;
        width: 300px;
        height: 300px;
    }

    section div nav ul li a {
        text-decoration: none;
        padding: 20px;
        color:  #7400b8;
        font-size: 25px;
        font-style: italic;
    }
    footer {
        color: #03045e;
    }
}

/* Large Smartphone */
@media screen and (max-width:768px) {
    header nav {
    margin-right: 100px;
    margin-top: 50px;
    }

    header #nav-container nav ul li {
        display: inline-block;
    }

    header #nav-container nav ul li a {
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        color: #caf0f8;
        text-align: left;
        font-style: italic;
    }    

    header #nav-container nav div img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 2.5px solid #03045e;
        border-radius: 100%;
        justify-content: left;
        margin-right: 140px;
        margin-top: 0px;
    }

    .header2 #name-container {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 50px;   
    
    }

    .header2 #name-container span {
        font-size: 15px;
        color:#72EFDD;
        font-style: italic;
    }

    .header2 #name-container h1 {
        font-size: 60px;
        color:#caf0f8;
    }
    
    .header2 #name-container p {
        color:#caf0f8; 
        font-size: 20px;
        margin-right: 150px;
        opacity: 50%;
    }

    /* unison styling start */

    main section {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 150px;    
    }
    
    main section h2 {
        color:#03045e;
        font-size: 30px;
    }
    
    main section p {
        color: #03045e;
        font-size: 20px;
        margin-right: 50px;
    
    }
    
    main section img {
        width:300px;
        height: 300px;
        border: 5px solid #03045e;
    }

    /* unison styling end */

    main .About img {
        border-radius: 100%;
        width: 300px;
        height: 300px;
    }

    section div nav ul li a {
        text-decoration: none;
        padding: 15px;
        color:  #7400b8;
        font-size: 20px;
        font-style: italic;
    }
}

/* Large Tablet */
@media screen and (max-width:992px) {
    header nav {
    margin-right: 100px;
    margin-top: 20px;
    }

    header #nav-container nav ul li a {
        text-decoration: none;
        font-size: 25px;
        padding: 10px;
        color: #caf0f8;
        text-align: left;
        font-style: italic;
    }    

    header #nav-container nav div img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 2.5px solid #03045e;
        border-radius: 100%;
        justify-content: left;
        margin-right: 250px;
        margin-top: 0px;
    }

    .header2 #name-container {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 50px;   
    
    }

    .header2 #name-container span {
        font-size: 15px;
        color:#72EFDD;
        font-style: italic;
    }

    .header2 #name-container h1 {
        font-size: 60px;
        color:#caf0f8;
    }
    
    .header2 #name-container p {
        color:#caf0f8; 
        font-size: 20px;
        margin-right: 150px;
        opacity: 50%;
    }

    /* unison styling start */

    main section {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 150px;    
    }
    
    main section h2 {
        color:#03045e;
        font-size: 30px;
    }
    
    main section p {
        color: #03045e;
        font-size: 20px;
        margin-right: 50px;
    
    }
    
    main section img {
        width:300px;
        height: 300px;
        border: 5px solid #03045e;
    }

    /* unison styling end */

    main .About img {
        border-radius: 100%;
        width: 300px;
        height: 300px;
    }

    section div nav ul li a {
        text-decoration: none;
        padding: 15px;
        color:  #7400b8;
        font-size: 20px;
        font-style: italic;
    }
}